@CHARSET "UTF-8";

html, body {
	margin:0px; padding:0px; padding-bottom:20px;
	height:100%; background-color:black; color:white;
}

img { border:0px; vertical-align:middle; }
p, ul, li, div, span, img { margin:0px; padding:0px; }
ul { white-space:nowrap; list-style-type:none; }
p { margin-bottom:6px; }
acronym, abbr, .info { cursor:help; border-bottom:1px dotted #aac; }
hr { clear:both; }
a { text-decoration:underline; }
a:active, a:hover, a:focus {  }
a:link { color:white; }
a:visited { color:white; }
a[href^="http://"] { padding-right:12px; background:url(../../../img/external.png) right 0px no-repeat; }
form table tr td.formitemname { text-align:right; padding:2px 6px 2px 2px; vertical-align:top; }
.fullwidth { width:100%; }
input[type=text], input[type=password], input[type=text], select { width:100%; }
.alignl { text-align:left; }
.alignc { text-align:center; }
.alignr { text-align:right; }
h1 {  }

.helpicon { background-image:URL('images/help.png'); min-width:16px; min-height:16px; background-repeat:no-repeat;
	cursor:help; }
.helpicon_detail { position:absolute; border:1px solid #844; background-color:#444; margin-left:32px; margin-top:4px; }
.error { color:red; }
div.error { margin:20px; padding:20px; }
div.error div.detail { margin-top:10px; color:white; }
.hidden { display:none; }

#topline {
	border:1px solid grey; padding-right:6px; line-height:30px; text-align:right;
}
#menu {
	float:left; margin-right:10px;
	background-color:darkblue; font-family:verdana;
}
#menu ul {
	white-space:nowrap;
	list-style-type:none;
}
#menu li { display:inline; font-size:120%; line-height:30px; }
#menu li a {
	display:block; float:left; border-right:1px solid orange;
	padding:0px 10px; line-height:30px;
	background-color:#08c; color:#ccc; text-decoration:none;
}
#menu li a:hover {
	background-color:#fc6; color:#fff;
}
#footer {
	position:fixed; bottom:0px; width:100%;
	text-align:center;
}
#logarea { position:absolute; }
#logarea ul { background-color:#444; margin:6px; padding:6px; border:1px solid darkorange; }
#logarea ul.log_list_errors { color:#FF0000; }
#logarea ul.log_list_warnings { color:#CC2222; }
#logarea ul.log_list_messages { color:#BB4444; }

#content { margin:20px 20% 0px 20%; }
