
body {
	font-size:100%; /* default: 16px */
}
a {
	color:inherit;
	text-decoration:inherit;
}

.server {
	font-size:0.8em;
}
.channel {
	margin-left:6px;
}
.channel .channelname {
	font-size:1.2em;
	font-weight:bold;
}
.subchannels {
}
.users {
	margin-left:4px;
}
.username img {
	position:relative;
	top:2px;
}