@CHARSET "UTF-8";

html, body {
	background-color:#000000; color:#ffffff;
}

img { border:0px; vertical-align:middle; }
p, ul, li, div, span, img { margin:0px; padding:0px; }
ul { white-space:nowrap; list-style-type:none; margin-left:10px; }
p { margin-bottom:6px; }
acronym, abbr, .info { cursor:help; border-bottom:1px dotted #aac; }
hr { clear:both; }
a { text-decoration:underline; }
a:active, a:hover, a:focus {  }
a:link { color:white; }
a:visited { color:white; }
a[href^="http://"] { padding-right:12px; background:url(../../../img/external.png) right 0px no-repeat; }
form table tr td.formitemname { text-align:right; padding:2px 6px 2px 2px; }
td, th { text-align:left; padding:0px 3px; vertical-align:top; border:1px solid #333333; }
th { border-bottom-color:#444444; }
.fullwidth { width:100%; }
input[type=text], input[type=password], input[type=text], select { width:100%; }
textarea { width:100%; min-height:100px; }
textarea.heightInc { height:200px; }
.alignl { text-align:left; }
.alignc { text-align:center; }
.alignr { text-align:right; }
h1 { font-size:1.8em; font-weight:bold; margin:12px 0px 6px; }
h2 { font-size:1.4em; margin:12px 0px 6px; }

.helpicon { background-image:URL('images/help.png'); min-width:16px; min-height:16px; background-repeat:no-repeat; }
.error { color:red; }
.infobox { border:1px solid #aaaaaa; margin:4px 4px 12px; padding:4px 12px; background-color:#442200; }
.infobox_info { border:1px solid orange; }
.infobox_error { border:1px solid #ff0000; }
div.error { margin:20px; padding:20px; position:absolute; z-index:99; }
div.error div.detail { margin-top:10px; color:white; }
div.js_link { color:grey; font-size:x-small; margin-left:4px; margin-right:4px; }
.hidden { display:none; }
.jslink, .jqlink { cursor:pointer; }

#menu {
	position:fixed; top:0px; left:0px; width:100px;
	border-right:1px solid grey;
	background-color:darkblue; font-family:verdana;
}
#menu ul { margin:0px;
	white-space:nowrap; list-style-type:none;
}
#menu li { font-size:120%; line-height:30px; }
#menu li.active a { background-color:#4be; color:white; }
#menu li a {
	display:block; border-right:1px solid orange;
	padding:0px 10px; line-height:30px;
	background-color:#08c; color:#ccc; text-decoration:none;
}
#menu li a:hover {
	background-color:#fc6; color:#fff;
}
#footer {
	width:100%; height:60px; border-top:1px solid darkgrey; background-color:black;
	text-align:center;
}
#footer .updatecheck_result {
}
#log_area ul { background-color:darkgrey; }
#log_area ul.log_list_errors { color:#FF0000; }
#log_area ul.log_list_warnings { color:#DD0000; }
#log_area ul.log_list_messages { color:#BB0000; }

#content { margin:20px 130px 70px; }
#jq_information { margin-top:10px; }

.table_headline td { padding-top:12px; font-family:arial; font-weight:bold; text-decoration:underline; }

.datalist { margin-bottom:6px; }
.datalist a { text-decoration:none; }
.datalist > .head { background-color:#444; padding:2px 4px 0px; border-bottom:1px dotted grey; }
.datalist > .head .indicator { width:20px; height:20px; text-align:center; }
.datalist > .content { background-color:#333; }

table.list_admins { border:1px solid #000000; margin:4px; }

table.list_admins td {
	padding:0px 8px;
}

table.list_admins tr.head {
	border-bottom:1px solid #555555;
	margin-bottom:2px;
}

table.list_admins .list_admins_item {
	border-bottom:1px solid #555555;
}

.list_admins .list_groups { font-size:10px; line-height:10px; }


.userHash {
	font-size:0.8em;
}


.mpi_login_form {
	width: 220px;
}
.mpi_login_form > input[type=submit] {
	margin-top:8px;
	padding:4px 10px;
}

.servers_tree ul {
	margin:0px;
	padding-left:12px;
}
.servers_tree .channelname {
}
.servers_tree .username {
}
.servers_tree .channelname img,
.servers_tree .username img,
.servers_tree .channelname object,
.servers_tree .username object {
	padding-right:2px;
	vertical-align:middle;
}

#mpi_table_onlineusers .col_sessId,
#mpi_table_onlineusers .col_regId,
#mpi_table_onlineusers .col_bytesPerSecond,
#mpi_table_onlineusers .col_timeOnline,
#mpi_table_onlineusers .col_timeIdle {
	text-align:right;
}
