@CHARSET "UTF-8";

body {
	margin:0px; padding:0px;
	background-color:black; color:white;
}

img { border:0px; }
ul, li, div, span, img { margin:0px; padding:0px; }
acronym, abbr { cursor: help; underline:dotted; }
hr { clear:both; }

#topline {
	border:1px solid grey; padding-right:6px; line-height:30px; text-align:right;
}
#menu {
	float:left; margin-right:10px;
	background-color:darkblue; font-family:verdana;
}
#menu ul {
	white-space:nowrap;
	list-style-type:none;
}
#menu li { display:inline; padding:8px 10px; font-size:120%; line-height:30px; }
#menu li a
{	display:block;
	padding:0.2em 1em;
	background:#fc6;
	color:#000;
	text-decoration:none;
	float:left;
	border:1px solid #000;
}
#menu li a:hover
{
	background:#08c;
	color:#fff;
}
