@CHARSET "UTF-8";

body {
	margin:0px; padding:0px; padding-bottom:20px;
	background-color:black; color:white;
}

img { border:0px; }
p, ul, li, div, span, img { margin:0px; padding:0px; }
p { margin-bottom:6px; }
acronym, abbr, .info { cursor:help; border-bottom:1px dotted #aac; }
hr { clear:both; }
a { text-decoration:underline; }
a:active, a:hover, a:focus {  }
a:link { color:white; }
a:visited { color:white; }
a[href^="http://"]:after { font-size:x-small; vertical-align:top; content:" (out)"; }
a[href$=".pdf"]:after { content:"(PDF)"; }
form table tr td.formitemname { text-align:right; padding:2px 6px 2px 2px; }
.fullwidth, input[type=text], input[type=password], input[type=text], select { width:100%; }
.alignl { text-align:left; }
.alignc { text-align:center; }
.alignr { text-align:right; }
h1 {  }

.helpicon { background-image:URL('images/help.png'); min-width:16px; min-height:16px; background-repeat:no-repeat; }
.error { color:red; }
div.error { margin:20px; padding:20px; }
div.error div.detail { margin-top:10px; color:white; }
.hidden { display:none; }

#topline {
	border:1px solid grey; padding-right:6px; line-height:30px; text-align:right;
}
#menu {
	float:left; margin-right:10px;
	background-color:darkblue; font-family:verdana;
}
#menu ul {
	white-space:nowrap;
	list-style-type:none;
}
#menu li { display:inline; font-size:120%; line-height:30px; }
#menu li a {
	display:block; float:left; border-right:1px solid orange;
	padding:0px 10px; line-height:30px;
	background-color:#08c; color:#ccc; text-decoration:none;
}
#menu li a:hover {
	background-color:#fc6; color:#fff;
}
#footer {
	position:fixed; bottom:0px; width:100%;
	text-align:center;
}

#content { margin:20px 20% 0px 20%; }
