@CHARSET "UTF-8";

body {
	margin:0px; padding:0px;
	background-color:black; color:white;
}

img { border:0px; }
p, ul, li, div, span, img { margin:0px; padding:0px; }
p { margin-bottom:6px; }
acronym, abbr { cursor: help; underline:dotted; }
hr { clear:both; }
a {}

#topline {
	border:1px solid grey; padding-right:6px; line-height:30px; text-align:right;
}
#menu {
	float:left; margin-right:10px;
	background-color:darkblue; font-family:verdana;
}
#menu ul {
	white-space:nowrap;
	list-style-type:none;
}
#menu li { display:inline; font-size:120%; line-height:30px; }
#menu li a {
	display:block; float:left; border-right:1px solid orange;
	padding:0px 10px; line-height:30px;
	background-color:#08c; color:#ccc; text-decoration:none;
}
#menu li a:hover {
	background-color:#fc6; color:#fff;
}

#content { margin:20px 20% 0px 20%; text-align:center; }
